/* FOGLIO DI STILE */

/* REGOLE GENERALI */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* REPLICA CENTRATURA */
/* .centratura {
  margin: 0 25%;
  width: 100%;
  padding: 50px 25%;

  background-color: pink;
} */


.centratura {
  margin: 0 25%;
  width: 50%;
  /* padding: 50px 0; */
  /*  debug */
  background-color: pink;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* PARTE ALTA---------------------------------------*/
header {
  /* debug */
  padding: 50px 0px;
  background-color: red;
  border: 1px solid black;
  /* fine debug */
  min-height: 500px;
  background-image: url(../img/oldman.png);
  background-repeat: no-repeat;
  background-size:40%;
  background-position: 1122px 100px;
  background-color: #0d325a;
}
header img {
  float: left;
}

#mainnav {
  /* debug */
  width: 40%;
  padding: 20px 0;
  background-color: rgb(55, 101, 232);
  border: 1px solid black;
  /* fine debug */
  float: left;
}

#navlogin {
  /* debug */
  width: 30%;
  padding: 20px 0;
  background-color: rgb(51, 218, 198);
  border: 1px solid black;
  /* fine debug */
  float: right;

}
/* CONTENUTO SEZIONI-------------------------------- */
section {
  padding: 30px 0;
  background-color: blue;
  border:2px solid black;
}

/* SEZIONE UNO------------ */


/* SEZIONE DUE------------ */

.contenutodue {
  float: left;
  width: 30%;
  /* debug */
  padding: 30px 0;
  /* margin: 1%; */
  /* margin-right: 3%; */
  background-color: rgb(115, 209, 85);
  /* fine debug */
}

.contenutodue:nth-child(2) {
  margin: 0 5%;
}



/* SEZIONE TRE------------ */


/* SEZIONE QUATTRO------------ */


/* SEZIONE CINQUE------------ */


/* SEZIONE SEI------------ */


/* SEZIONE SETTE------------ */


/* SEZIONE OTTO------------ */


/* SEZIONE NOVE------------ */



/* PARTE BASSA---------------------------------- */
footer {
  padding: 50px 0;
  background-color: grey;
  border:2px solid black;
  }
